<header class="d-flex align-items-center backgroundSecondary">
  <nav class="navbar navbar-expand-lg fixed-top w-100">
    <div class="container-fluid p-0">
      <a class="navbar-brand" routerLink="/home" title="Logo Vale Presente">
        <figure class="mb-0">
          <img src="/assets/img/logo/Logo.svg" alt="Logo Vale Presente" />
        </figure>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Soluções
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/vale-beneficio"
                  >Vale Benefício</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/vale-presente"
                  >Vale PResente</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Saiba mais
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/about">Sobre nós</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/comunity">Comunidade</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/career">Carreira</a>
              </li>
              <li><a class="dropdown-item" routerLink="/blog">Blog</a></li>
              <li>
                <a class="dropdown-item" routerLink="/help">Central de Ajuda</a>
              </li>
            </ul>
          </li>

          <li class="nav-item link-menu">
            <a
              class="nav-link color"
              href="https://corporate.valepresente.com.br"
              target="_blank"
            >
              Entrar como gestor
              <i class="vp-login-2"></i>
            </a>
          </li>
          <li class="nav-item button-menu btn buttonGreenWhite">
            <a class="nav-link" routerLink="/contact">Faça parte</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
