<footer class="backgroundSecondary">
  <div
    class="container footer d-flex flex-md-row flex-sm-column flex-column flex-wrap"
  >
    <div
      class="footer__content col-lg-4 col-md-6 col-sm-12 col-12 d-flex flex-column mb-lg-0 mb-md-4 mb-4 px-4 text-md-start text-center"
    >
      <h3 class="f-s-medium f-w-bold colorWhite mb-4">Documentos</h3>
      <a class="colorWhite mb-1" routerLink="/politics-terms"
        >Termo de uso e Aviso de Privacidade</a
      >
      <p class="colorWhite">Inscrição PAT 220789481</p>
    </div>
    <div
      class="footer__content col-lg-4 col-md-6 col-sm-12 col-12 footer__apps mb-lg-0 mb-md-4 mb-4 px-4 text-md-start text-center"
    >
      <h3 class="f-s-medium f-w-bold colorWhite mb-4">Baixe o aplicativo</h3>
      <div
        class="footer__apps__buttons d-flex align-items-center align-items-md-start"
      >
        <a
          href="https://play.google.com/store/apps/details?id=br.com.socialbank.android.wallet"
          target="_blank"
          class="footer__apps__buttons__button colorPrimary me-md-4 me-0"
        >
          <i class="vp-google me-2 f-s-28"></i>
          <span class="f-s-medium f-w-medium">Google Play</span>
        </a>
        <a
          href="https://apps.apple.com/br/app/social-wallet/id1436868047"
          target="_blank"
          class="footer__apps__buttons__button colorPrimary"
        >
          <i class="vp-apple me-2 f-s-28"></i>
          <span class="f-s-medium f-w-medium">Apple Play</span>
        </a>
      </div>
    </div>
    <div
      class="footer__content col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-4 px-4 text-md-start text-center"
    >
      <h3 class="f-s-medium f-w-bold colorWhite mb-4">Segue a gente!</h3>
      <p class="colorWhite f-s-regular mb-2">{{ "@valepresente" }}</p>
      <ul class="p-0 d-flex justify-content-center justify-content-md-start">
        <li>
          <a
            href="https://www.instagram.com/valepresente/"
            target="_blank"
            title="Instagram Vale Presente"
          >
            <i class="vp-instagram f-s-32 colorWhite"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/valepresente/"
            target="_blank"
            title="Facebook Vale Presente"
          >
            <i class="vp-facebook f-s-32 colorWhite"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/valepresente"
            target="_blank"
            title="Twitter Vale Presente"
          >
            <i class="vp-twitter f-s-32 colorWhite"></i>
          </a>
        </li>
        <li>
          <a
            href="https://br.linkedin.com/company/vale-presente-s-a"
            target="_blank"
            title="Linkedin Vale Presente"
          >
            <i class="vp-linkedin f-s-32 colorWhite"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/user/valepresente/"
            target="_blank"
            title="Youtube Vale Presente"
          >
            <i class="vp-youtube f-s-32 colorWhite"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
