.footer {
  padding: 70px 0 60px;
  a {
    &:hover {
      color: rgb(from var(--colorPrimary) r g b / 80%);
    }
  }
  .footer__apps {
    .footer__apps__buttons {
      .footer__apps__buttons__button {
        border: 1px solid var(--colorPrimary);
        background-color: transparent;
        height: 54px;
        border-radius: 27px;
        padding: 0 30px;
        display: flex;
        align-items: center;

        &:hover {
          border: 1px solid rgb(from var(--colorPrimary) r g b / 80%);
          i {
            color: rgb(from var(--colorPrimary) r g b / 80%);
          }
          span {
            color: rgb(from var(--colorPrimary) r g b / 80%);
          }
        }
      }
    }
  }
  ul {
    margin-bottom: 0;
    li {
      list-style: none;
      margin-right: 20px;

      &:hover {
        i {
          color: rgb(from var(--colorPrimary) r g b / 80%);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer__apps {
    .footer__apps__buttons {
      flex-direction: column;
      .footer__apps__buttons__button {
        justify-content: center;
        width: 220px;
        margin-bottom: 1rem;
      }
    }
  }
}
@media (max-width: 992px) {
  .footer__apps {
    .footer__apps__buttons {
      flex-direction: column;
      .footer__apps__buttons__button {
        justify-content: center;
        width: 220px;
        margin-bottom: 1rem;
      }
    }
  }
}
