<section class="page-not-found backgroundGrayLight">
  <div class="container">
    <div class="page-not-found__content text-center">
      <h1 class="colorSecondary text-center f-w-black f-s-title">
        Ops! Página não encontrada.
      </h1>
      <p class="colorSecondary text-center f-w-regular f-s-28">
        A página que você está procurando não foi encontrada.
      </p>
      <button
        class="page-not-found__content__button buttonGreenWhite f-w-medium f-s-large"
        (click)="goToHome()"
      >
        Voltar para o início
      </button>
    </div>
  </div>
</section>
