<section class="politics-terms">
  <vp-banner-pages></vp-banner-pages>

  <div class="container">
    <mat-tab-group>
      <mat-tab label="Políticas">
        <h1 class="f-w-black colorSecondary text-center">
          Veja as nossas políticas
        </h1>
        <div class="politics-terms__content">
          <div class="accordion" id="accordionPolitics">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button f-w-bold colorSecondary f-s-medium"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsePolitics"
                  aria-expanded="true"
                  aria-controls="collapsePolitics"
                >
                  Para você
                </button>
              </h2>
              <div
                id="collapsePolitics"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionPolitics"
              >
                <a
                  class="colorSecondary f-s-medium"
                  href="../../../assets/documents/politica de Privacidade - Vale Presente.pdf"
                  target="_blank"
                  >Aviso de privacidade</a
                >
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Termos">
        <h1 class="f-s-title f-w-black colorSecondary text-center">
          Veja os termos dos nossos serviços
        </h1>
        <div class="politics-terms__content">
          <div class="accordion" id="accordionTermsPF">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button f-w-bold colorSecondary f-s-medium"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsePF"
                  aria-expanded="true"
                  aria-controls="collapsePF"
                >
                  Para você
                </button>
              </h2>
              <div
                id="collapsePF"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionTermsPF"
              >
                <a
                  class="colorSecondary f-s-medium"
                  href="../../../assets/documents/politica de Privacidade - Vale Presente.pdf"
                  target="_blank"
                  >Termos de Uso - Usuários</a
                >
              </div>
            </div>
          </div>

          <div class="accordion" id="accordionTermsPJ">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button f-w-bold colorSecondary f-s-medium"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsePJ"
                  aria-expanded="true"
                  aria-controls="collapsePJ"
                >
                  Para empresas
                </button>
              </h2>
              <div
                id="collapsePJ"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionTermsPJ"
              >
                <a
                  class="colorSecondary f-s-medium"
                  href="../../../assets/documents/politica de Privacidade - Vale Presente.pdf"
                  target="_blank"
                  >Termos de Uso - PJ</a
                >
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
